<header>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <a class="logo" href="/">
        <img class="img-circle" src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=80" />
      </a>
    </div>
    <div class="col-md-7">
      <a href="/">
        <h1 class="name">Garrett Heinlen</h1>
      </a>
      <p class="tagline">
        <span class="social">
          <a href="https://twitter.com/gogogarrett">
            <i class="fa fa-twitter-square"></i>
          </a>

          <a href="https://github.com/gogogarrett">
            <i class="fa fa-github"></i>
          </a>
        </span>

        Enthusiastic <em style="color: #d04739">Ruby developer</em>, actively seeking to be ballin'.
        I enjoy long talks on the internet and my perfect
        evening is coding with the ones I love..
      </p>
    </div>
  </div>
</header>
